<%- include('./partials/header.html') -%>

<h1>Errors</h1>
<ul type="square">
    <% if(errors){%>
    <% errors.forEach((error)=>{%>
    <li>
        <%= error.msg %>
    </li>
    <% }); %>
    <% } %>
</ul>

<form method="POST" action='/users/add'>
    <label>First Name</label><br>
    <input type="text" name="first_name" required>
    <br>

    <label>Last Name</label><br>
    <input type="text" name="last_name" required>
    <br>

    <label>Email</label><br>
    <input type="email" name="email" required>
    <br><br>

    <input type="submit" value="Submit">
</form>


<h1><%= title %></h1>
<ol>
    <% users.forEach((user)=>{%>
    <li>
        <%= user.first_name %>
        <%= user.last_name %>
        ----&gt;
        <a href="#" class="deleteUser" data-uid="<%= user._id %>">Delete</a>
    </li>
    <% }); %>
</ol>

<%- include('./partials/footer.html') -%>